In [1]:
print("test")

test

In [ ]:
import gdown
import zipfile
import os

file_id = '1ENSzYg3oMLSTqqzeB3pnD0GtGTLYdn1E'
download_url = f'https://drive.google.com/uc?id={file_id}'

# Output zip filename
output_zip = 'dataset.zip'

# Download from Google Drive
gdown.download(download_url, output_zip, quiet=False)

# Unzip the file
extract_path = './data'  # You can change this path as needed
os.makedirs(extract_path, exist_ok=True)

with zipfile.ZipFile(output_zip, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

print(f"Extracted to: {extract_path}")

Downloading...
From: https://drive.google.com/uc?id=1ENSzYg3oMLSTqqzeB3pnD0GtGTLYdn1E
To: c:\Users\josiw\Documents\unibertsitatea\3.o\2.o cuatri\DeepLearning\anomaly-detection\dataset.zip
100%|██████████| 1.95M/1.95M [00:00<00:00, 10.2MB/s]

✅ Extracted to: ./data

In [9]:
import pandas as pd

# EDA Process

In [10]:
df = pd.read_csv("./data/BTCUSDT_1h.csv")

In [11]:
df.head()

,open,high,low,close,volume,close_time,quote,takers_buy_base,takers_buy_quote
0,4261.48,4313.62,4261.32,4308.83,47.181009,2017-08-16 23:59:59.999000-05:00,202366.138393,35.160503,150952.477943
1,4308.83,4328.69,4291.37,4315.32,23.234916,2017-08-17 00:59:59.999000-05:00,100304.823567,21.448071,92608.279728
2,4330.29,4345.45,4309.37,4324.35,7.229691,2017-08-17 01:59:59.999000-05:00,31282.312670,4.802861,20795.317224
3,4316.62,4349.99,4287.41,4349.99,4.443249,2017-08-17 02:59:59.999000-05:00,19241.058300,2.602292,11291.347015
4,4333.32,4377.85,4333.32,4360.69,0.972807,2017-08-17 03:59:59.999000-05:00,4239.503586,0.814655,3552.746817

In [12]:
df.shape

(38461, 9)